.hero {
  &__role {
    font-size: clamp(6rem, 16.5rem, 30rem);
    // font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -2rem;
    line-height: 15rem;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding-right: 5rem;
    word-break: break-all;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      display: none;
    }
    &__mobile {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
        font-size: 7rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.5rem;
        line-height: 7rem;
        color: var(--primary-color);
        // display: flex;
        // justify-content: space-between;
        // padding-right: 5rem;
        word-break: break-all;
        position: relative;
        overflow: hidden;
        
      }
    }
    &__span {
      display: inline-block;
      transition: transform 0.5s ease-out, color 0.2s ease-in-out;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      will-change: transform, opacity;
      &:hover {
        color: #ffffff;
        transform: color 0.2s;
      }
    }
    &__dash {
      transform: scale(0.5, 1);
      will-change: width, opacity;
      display: inline-block;
      //   transition: width 0.5s ease-out, transform 0.5s ease-out;
    }
    &__cap {
      display: flex;
      align-items: center;
      gap: 5rem;
      padding-right: 50px;
    }
    &__engineer {
      font-size: 16rem;
      letter-spacing: -2rem;
      text-transform: uppercase;
      font-weight: 700;
      will-change: transform, opacity;
      @media screen and (max-width: 768px) {
        display: none;
        
      }
    }
    &__about {
      will-change: transform, opacity;
      font-size: 16px;
      max-width: 378px;
      color: var(--primary-color);
      span {
        color: #ffffff;
        &:hover {
          color: var(--artistic-color);
        }
      }
      @media screen and (max-width: 768px) {
        margin-top: 40px;
        padding: 20px;
        
      }
    }
  }
  &__services {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 50px;
      
    }
    &__design,
    &__development {
      margin: 100px 0;
      max-width: 500px;
      transform-style: preserve-3d;
      will-change: transform, opacity;
      transition: transform 0.3s ease-out;
      &:hover {
        transform: translateY(-5px) rotateX(5deg);
      }
      h2 {
        color: #ffffff;
      }
      p {
        margin-top: 20px;
        color: var(--primary-color);
      }
      @media screen and (max-width: 768px) {
        margin: 5px 0;        
      }
    }
    &__development {
      margin-top: 160px;
      @media screen and (max-width: 768px) {
        margin-top: 5px;
        
      }
    }
  }
}
